<!DOCTYPE html>
<html>
<head>
    <title>Association Details</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    {{> header}}
    <h2>{{association.name}}</h2>
    {{#hasImage}}
        <img src="/association/{{association.id}}/image" alt="Association Image"></img>
    {{/hasImage}}
    {{^hasImage}}
        <img src="/images/no_img.png" alt="Pas d'image"></img>
    {{/hasImage}}
    <h3>Members :</h3>  
    <ul>
        {{#members}}
            <li>{{name}}</li>
        {{/members}}
    </ul>

    <h3>Minutes :</h3>
    <ul>
        {{#minutes}}
            <li>
                {{date}} - {{content}} (Duration : {{duration}} min) - {{id}}
                {{#isAdmin}}
                <form action="/minute/{{id}}/asso/{{association.id}}/delete" method="post">
                    <button type="submit">Delete</button>
                </form>
                {{#isMember}}<button onclick="location.href='/minute/{{id}}/asso/{{association.id}}/edit'">Edit</button>{{/isMember}}
                {{/isAdmin}}
            </li>
        {{/minutes}}
    </ul>

    {{^isMember}}
    {{#isAuthenticated}}
    <form action="/associations/{{association.id}}/join" method="post">
        <button type="submit">Join</button>
    </form>
    {{/isAuthenticated}}
    {{/isMember}}

    {{#isMember}}
    {{#isAuthenticated}}
    <form action="/association/{{association.id}}/createMinute" method="post">
        <button type="submit">Create Minute</button>
    </form>
    {{/isAuthenticated}}
    {{/isMember}}

    {{#isAdmin}}
    <form action="/association/{{association.id}}/delete" method="post">
        <button type="submit">Delete</button>
    </form>
    <button onclick="location.href='/editasso/{{association.id}}'">Edit</button>
    {{/isAdmin}} 

    {{>footer}}
</body>
</html>
