<!DOCTYPE html>
<html>
<head>
    <title>User Detail</title>
</head>
<body>
    {{> header}}
    <h2>Info User</h2>
        <p>{{utilisateur.name}} {{utilisateur.surname}}</p>
    <ul>
        <h3>Associations and member type :</h3>
        {{#associationRoles}}
            <li>
                <a href="/association/{{association.id}}">{{association.name}}</a> - <strong>Member Type:</strong> {{memberType}}
            </li>
        {{/associationRoles}}
        {{^associationRoles}}
            <li>Not part of an association.</li>
        {{/associationRoles}}
    </ul>
    <h3>Minutes of meetings attended by this user :</h3>
    <ul>
        {{#userMinutes}}
            <li>{{date}} - {{content}} ({{duration}} minutes)</li>
        {{/userMinutes}}
        {{^userMinutes}}
            <li>No participation in a meeting.</li>
        {{/userMinutes}}
    </ul>
    {{> footer}}
</body>
</html>